version: '3'

services:
  db:
    restart: always
    image: postgres:latest
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file: .env
  web:
    restart: always
    image: registry.gitlab.com/{{ CI_PROJECT_PATH }}:{{ BRANCH_TAG }}{{ CI_COMMIT_SHORT_SHA }}
    expose:
      - "8000"
    links:
      - db:db
    volumes:
      - web-django:/usr/src/
      - web-static:/usr/src/static/
    env_file: .env
    command: sh -c "python manage.py migrate &&  python manage.py collectstatic && /usr/local/bin/gunicorn Blog.wsgi:application -w 2 -b :8000"
    depends_on:
      - db
  nginx:
    restart: always
    image: registry.gitlab.com/{{ CI_PROJECT_PATH }}:nginx_{{ BRANCH_TAG }}{{ CI_COMMIT_SHORT_SHA }}
    ports:
      - "{{ PORT_CI}}:8000"
    volumes:
      - web-static:/static
    links:
      - web:web

volumes:
  web-django:
  web-static:
  pgdata:
